<a href="https://colab.research.google.com/github/thureinmyoag/MMDT_T-PY101_Batch03/blob/main/Ex1_thurein_myo_aung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This section introduces the Python Programming uisng Colab. Follow the instructions and complete the exercises.

# Ex 1 : Check Version

Using the below cell, Import the required library and check the version of the python in your environment.

In [45]:
import sys
print(sys.version)

3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

# Ex2 : Convert Currency.

Write a program that asks the user for the amount in usd and converts it to British pounds. The exchange rate is from usd to BP is given as 0.82

In [46]:
usd_amount = input ("Enter the amount in USD: ")
bp_amount = int(usd_amount) *0.82
print("{} usd is equivalent to {} british pound".format(usd_amount, bp_amount))

Enter the amount in USD: 6
6 usd is equivalent to 4.92 british pound

# Ex 3: Temperature Converter

Write a program that convert temperature in Feranhite to celsius.

In [47]:
ferhite = input("Enter the temperature in Feranhite: ")
temp_celsius = round((int(ferhite)-32) * 5/9,2)
print("{} Feranhite is equivalent to {} celsius".format(ferhite,temp_celsius))

Enter the temperature in Feranhite: 38
38 Feranhite is equivalent to 3.33 celsius

# Ex 4: Daily Maths

You are working in a retail shop. Write a program that computes the total cost for a customer that bought 3 differnt types of fruits : apple, orange, mango. Ask the user to enter the quantity and price for each type.

In [48]:
# Input for Apples
apple_qty = int(input("Enter quantity of Apples: "))
apple_price = float(input("Enter price per Apple: "))

# Input for Oranges
orange_qty = int(input("Enter quantity of Oranges: "))
orange_price = float(input("Enter price per Orange: "))

# Input for Mangoes
mango_qty = int(input("Enter quantity of Mangoes: "))
mango_price = float(input("Enter price per Mango: "))

# Calculations
apple_total = apple_qty * apple_price
orange_total = orange_qty * orange_price
mango_total = mango_qty * mango_price

total_cost = int(apple_total + orange_total + mango_total)
print(f"Total Cost:  {total_cost}")

Enter quantity of Apples: 3
Enter price per Apple: 3
Enter quantity of Oranges: 3
Enter price per Orange: 3
Enter quantity of Mangoes: 3
Enter price per Mango: 3
Total Cost:  27

# Ex 5 : Greeting

Write a program to greet the customer who provides the user name. Your program should ask the name of the customer and print "Hello + customer name"

In [49]:
name = input("Migalarpar. Can i know your Name?")
print(f"Hello {name}")

Migalarpar. Can i know your Name?Steve
Hello Steve

# Ex 6: Random Number
Write a program that generates a random number, x, between 1 and 50, a random number y betweenjk 2 and 5, and computes x^y.

In [50]:
from random import randint
x = randint(1,50)
y = randint(2,5)
print('A random number between 1 and 50: ', x)
print('A random number between 2 and 5: ', y)
print(f"x^y: {x**y}")

A random number between 1 and 50:  13
A random number between 2 and 5:  4
x^y: 28561

# Ex 7: Greet many times.
Write a program that generates a random number between 1 and 10 and prints your name that many times.

In [55]:
from random import randint

r = randint(1,10)
print(r)
print('Thurein'*r)

4
ThureinThureinThureinThurein

# Ex 8: Computing.
Write a program that asks the user to enter two numbers, x and y, and computes |x-y|/(x+y).

In [52]:
x = int(input("Enter x:"))
y = int(input("Enter y:"))
result = abs(x-y)/ (x+y)
print(result)

Enter x:55
Enter y:33
0.25

# Ex 9: Computing

Write a program that asks the user for a number of seconds and prints out how many minutes and seconds that is. For instance, 200 seconds is 3 minutes and 20 seconds.

In [53]:
second = int(input("Enter the total seconds: "))
m_result = second//60
s_reult = second % 60

print(f"{m_result} minutes and {s_reult} seconds")

Enter the total seconds: 5555
92 minutes and 35 seconds

# Ex 10: Using Math Module

Write a program that asks the user for a number and then prints out the sine, cosine, and tangent of that number.

In [54]:
import math
num = float(input("Enter a number:"))
sine_value = math.sin(num)
cosine_value = math.cos(num)
tangent_value = math.tan(num)
print(f"Sine Value: {sine_value}")
print(f"Cosine Value: {cosine_value}")
print(f"Tangent Value: {tangent_value}")

Enter a number:22
Sine Value: -0.008851309290403876
Cosine Value: -0.9999608263946371
Tangent Value: 0.00885165604168446