<a href="https://colab.research.google.com/github/thureinmyoag/MMDT_T-PY101_Batch03/blob/main/thurein_myo_aung/Ex2_datatypes_thurein_myo_aung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [7]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s_lower= s.lower()
no_of_python = s_lower.count("python")
print(no_of_python)

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [11]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]

new_list = ls1 + ls2
print(len(new_list))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [12]:
dict = {"Myo": 32, "Thida": 64}
print(dict)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [20]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combine_set = set1.union(set2)
print(combine_set)
print(len(combine_set))

{'Name', 'Height', 'status', 'Education', 'age'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [24]:
x = input("Enter a string: ")
x = x.replace(x[1],"*")
x = x + "!!!"
print(x)

Enter a string: thurein myo
t*urein myo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [27]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s_lower = s.lower()
s = s_lower.replace("-","")
s = s.replace(",","")
s = s.replace(".","")
s= s.replace(";","")
print(s)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [37]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

L1 = set(L1)
L2 = set(L2)
print("Missing Number" + L1.difference(L2))

TypeError: can only concatenate str (not "set") to str

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.