<a href="https://colab.research.google.com/github/thureinmyoag/MMDT_T-PY101_Batch03/blob/main/thurein_myo_aung/Ex5_Function_thurein_myo_aung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [ ]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(4,4)

****
****
****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [ ]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(3)

923

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [ ]:
def number_of_factors(n):
  result = 0
  for i in range(1,n+1):
    if n % i == 0:
      result = result + 1
  return result

number_of_factors(4)

3

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [ ]:
def first_diff(string1,string2):

  first_str = string1.lower()
  second_str = string2.lower()
  len_first_str = len(first_str)
  len_second_str = len(second_str)
  min_len = min(len_first_str,len_second_str)

  for i in range (0,min_len):
    if first_str[i] == second_str[i]:
      print(f"comparing {first_str[i]} and {second_str[i]}")
    else:
      return i
      break
  if len_first_str != len_second_str:
    return min_len
  return -1

first_diff("tHireaaa","Thureaaang")

comparing t and t
comparing h and h

2

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [ ]:
def root(x,n=2):
  return x ** (1/n)
round(root(25))

5

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [ ]:
def solve_system(a, b, c, d, e, f):
    denominator = a*d - b*c

    if denominator == 0:
        return None  # Lines are parallel or identical → no unique solution

    x = (e*d - b*f) / denominator
    y = (a*f - e*c) / denominator

    return x, y

# Test it
result = solve_system(1, 1, 1, -1, 5, 1)
print(result)  # Output: (3.0, 2.0)

(3.0, 2.0)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [ ]:
def change_case(text):
  final_string = ""
  for i in text:
    x = i
    if x.isupper():
      x = x.lower()
      final_string = final_string + x
    elif x.islower():
      x = x.upper()
      final_string = final_string + x
    else:
      x = x
      final_string = final_string + x
  return final_string

change_case("THUr123You")

'thuR123yOU'

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [8]:
def primes(number_value = 100):
  prime_list = []
  candidate = 2
  factors = 0
  while len(prime_list) < number_value:
    for i in range(1,candidate+1):
      if candidate % i == 0:
        factors  =  factors + 1
      # candidate = candidate + 1
    if factors == 2:
      prime_list.append(candidate)
    factors = 0 ## reset
    candidate = candidate + 1

  return prime_list

primes(3)

[2, 3, 5]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”